PUBLIC_GA_MEASUREMENT_ID=
PUBLIC_SITE_URL=https://apps.0xvera.com
PUBLIC_SUPPORT_EMAIL=support@0xvera.com
PUBLIC_CONTACT_EMAIL=hello@0xvera.com

# Public community links (not secrets)
PUBLIC_FEEDBACK_FORM_EN_URL=https://forms.gle/rDJejNbbtEAYPjg78
PUBLIC_FEEDBACK_FORM_ES_URL=https://forms.gle/eRchfcADmMfuPhLJ8
# Google Groups URL for 0xVera Android Testers (without /about)
PUBLIC_ANDROID_TESTERS_GROUP_URL=https://groups.google.com/g/0xvera-android-testers
